nav {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e4e9f2;
	height: 112px;
}

#img-logo {
	height: 20px;
	margin-right: 40.5px;
}

.NAMN {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.nav-menu {
	display: flex;
	height: 100%;
}

.menu-item {
	margin: 1em;

	/* height: 3em; */
	padding: 2em 0 2em 0;
	color: #69707d;
}

/* FIXME border hopping on hover*/
.menu-item:hover {
	border-bottom: 4px solid #ff7e1b;
	color: #1d2026;
}

.NAMN2 {
	display: flex;
	align-items: center;
}

#img-cart-icon {
	height: 20px;
	margin-right: 46px;
}

#img-profile-pic {
	width: 50px;
}

/* FIXME border hopping on hover*/
#img-profile-pic:hover {
	border: 2px solid #ff7e1b;
	border-radius: 50%;
}
