.imgContainer {
	width: 88px;
	height: 88px;
	border-radius: 10px;
	border: 2px solid transparent;
}

.imgContainerSelected {
	border-color: #ff7e1b;
}

.thumbnail {
	width: 88px;
	height: 88px;
	border-radius: 8px;

	&:hover {
		opacity: 0.5;
	}
}

.thumbSelected {
	opacity: 0.25;
}
