.thumbnail {
	width: 88px;
	height: 88px;
	border-radius: 10px;
	border: 2px solid transparent;

	&:hover {
		opacity: 0.5;
	}
}

.thumbSelected {
	border: 2px solid #ff7e1b;
	//FIXME opacity only on image;
	opacity: 0.25;
}
