.container {
	display: flex;
	flex-direction: column;
}

.fullImage {
	width: 450px;
	height: 450px;
	border-radius: 15px;
}

.thumbContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
}
